body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -10rem -25rem, 45rem 25rem;
  background-size: 50rem;
  height: 40rem;
  margin: 0;
}

hr{
  width: 20rem;
  border-style: none;
  border-top-style: solid;
  border-color: hsl(0, 0%, 59%);
}

main {
  background-color: white;
  border-radius: 1rem;
  height: 21.5rem;
  width: 20rem;
  position: relative;
  top: 9.25rem;
  bottom: 9.25rem;
  margin: 0 auto;
}

strong {
  color: hsl(229, 23%, 23%);
  font-family: 'Kumbh Sans', sans-serif;
}

p {
  color: hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
}

.bg-pattern-card {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 20rem;
  height: 7rem;
}

.image-victor {
  border-radius: 6rem;
  border-style: solid;
  border-color: white;
  width: 5rem;
  height: 5rem;
}

.middle-container {
  text-align: center;
  margin-top: -2rem;
}

.bottom-container {
  text-align: center;
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  grid-gap: 1rem;
  margin-left: 2rem;
}
